<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-pizza-slice"></i>
            <i class="fas fa-mug-hot"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Restaurant <sup>PMS</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Interface
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/Home/Orders" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Orders</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Home/Cocina">
            <i class="fas fa-fw fa-utensils"></i>
            <span>Cocina</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Home/GetTables">
            <i class="fas fa-fw fa-chair"></i>
            <span>Tables</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Home/Menues">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Menues</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Billings
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/Home/Bill">
            <i class="fas fa-fw fa-receipt"></i>
            <span>Bill</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Inventory/">
            <i class="fas fa-fw fa-box-open"></i>
            <span>Inventory</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
