@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid g-2 pb-lg-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card-header icon-text">
                <span class="text-warning me-2" style="font-size: 1.25rem;">&#9201;</span> <h5 class="mb-0">Pendientes (1)</h5>
            </div>
            <div class="card custom-card p-4">
          
                <div class="card-body card-header-pending bg-gradient-warning mb-5">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title card-title-lg mb-1">Mesa 1</h4>
                        <span class="text-muted" style="font-size: 0.85rem;">3:06:18 AM</span>
                    </div>
                    <p class="card-text mb-2">Juan Perez</p>
                    <p class="card-text card-body-content">1x Hamburguesa Clásica</p>
                    <button class="btn btn-primary btn-primary-custom w-100 mt-2">Iniciar Preparación</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card-header icon-text">
                <span class="text-info me-2" style="font-size: 1.25rem;">&#9881;</span> <h5 class="mb-0">Preparando (0)</h5>
            </div>
            <div class="card custom-card p-4 ">

                <div class="card-body card-header-done  stat lav text-black  ">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title card-title-lg mb-1">Mesa 5</h4>
                        <span class="text-muted" style="font-size: 0.85rem;">8:46:39 PM</span>
                    </div>
                    <p class="card-text mb-2">Maria Gonzalez</p>
                    <p class="card-text card-body-content">3x Hamburguesa Clásica<br>4x Coca Cola</p>
                    <button class="btn btn-secondary btn-secondary-custom w-100 mt-2">Marcar como Entregado</button>
                </div>
            </div>
                <div class="card custom-card p-4 ">

                <div class="card-body card-header-done stat lav text-black">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title card-title-lg mb-1">Mesa 5</h4>
                        <span class="text-muted" style="font-size: 0.85rem;">8:46:39 PM</span>
                    </div>
                    <p class="card-text mb-2">Maria Gonzalez</p>
                    <p class="card-text card-body-content">3x Hamburguesa Clásica<br>4x Coca Cola</p>
                    <button class="btn btn-secondary btn-secondary-custom w-100 mt-2">Marcar como Entregado</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card-header icon-text">
                <span class="text-success me-2" style="font-size: 1.25rem;">&#10003;</span> <h5 class="mb-0">Listos (1)</h5>
            </div>
            <div class="card custom-card  p-4">
       
                <div class="card-body card-header-done">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title card-title-lg mb-1">Mesa 5</h4>
                        <span class="text-muted" style="font-size: 0.85rem;">8:46:39 PM</span>
                    </div>
                    <p class="card-text mb-2">Maria Gonzalez</p>
                    <p class="card-text card-body-content">3x Hamburguesa Clásica<br>4x Coca Cola</p>
                    <button class="btn btn-secondary btn-secondary-custom w-100 mt-2">Marcar como Entregado</button>
                </div>
            </div>
        </div>

    </div>
</div>

