@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="main-card">

        <h3 class="mb-1">Gestión de Mesas</h3>
        <p class="text-muted mb-4">Vista general del estado de todas las mesas</p>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-3">

            <div class="col table-item">
                <div class="table-box bg-red-custom">
                    1
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-danger">Ocupada</div>
                <div class="sub-status-text">Con pedido</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    2
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    3
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    4
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-red-custom">
                    5
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-danger">Ocupada</div>
                <div class="sub-status-text">Con pedido</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    6
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    7
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    8
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    9
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

            <div class="col table-item">
                <div class="table-box bg-green-custom">
                    10
                    <span class="capacity">4p</span>
                </div>
                <div class="status-text text-success">Disponible</div>
            </div>

        </div>
        <div class="col table-item bg-gray-400">
            <div class="d-flex justify-content-center flex-wrap">
                <div class="d-flex justify-content-start align-items-center gap-3">
    <a href="#" class="text-black icon-action delete-icon" title="Eliminar">
        <i class="fas fa-trash"></i> 
    </a>

                    <a href="#" class="text-black icon-action add-icon" title="Añadir">
        <i class="fas fa-plus-circle"></i> 
    </a>

                    <a href="#" class="text-black icon-action edit-icon" title="Editar">
        <i class="fas fa-pencil-alt"></i> 
    </a>
                </div>
            </div>

        </div>


    </div>


        <hr class="mt-4 mb-3">

        <div class="d-flex justify-content-center flex-wrap">
            <div class="me-4">
                <span class="legend-box bg-green-custom"></span> Disponible
            </div>
            <div class="me-4">
                <span class="legend-box bg-red-custom"></span> Ocupada
            </div>
            <div>
                <span class="legend-box" style="background-color: orange;"></span> Reservada
            </div>
        </div>

    </div>
